@reference 'tailwindcss/theme';

.kanban-lift {
    box-shadow:none;
    border-style: dashed;

    * {
        @apply opacity-0;
    }
}

.kanban-column {
    @apply flex-1 min-w-xs max-w-xs;
}

.kanban-draggable {
    @apply cursor-pointer w-full max-w-full overflow-visible;
}

.kanban-card-content {
    @apply w-full max-w-full overflow-visible;
}

.kanban-card {
    @apply w-full max-w-full overflow-visible;
}

.kanban-column-header {
    padding: calc(var(--spacing, 0.25rem) * 2);
    padding-bottom: 0;
}

.kanban-column-scroll {
    max-height: calc(100vh - 16rem);
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    padding-inline: calc(var(--spacing, 0.25rem) * 2);
    padding-bottom: calc(var(--spacing, 0.25rem) * 2);
}
